* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    font-size: 20px;
}

.header {
    color: white;
    background: #1f2937;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-left: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    padding-right: 100px;
    margin: 0;
    gap: 30px;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 16px
}